header{
    width: 100%;
    margin-top: -60px;

}
#go_to_home{
    margin-top: 5px;
    height: 100px;
}
.jumbotron{
    background: none;
    margin-bottom: 0;
}
#header{
 background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black ;
    border-radius: 10px;
}

body {
    background-image: url("/static/img/background1.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #3e655a;

}

.name{
    width: 80%;
}

.member_name{
    width: 400px;
    margin: 0 auto;
    text-align: right;

}

.NumberOfMembers{
    margin: 0 auto;
    display: block;
    width: 70px;
    text-align: center;
}

h1 {
    font-family: 'Girassol', cursive, bold;
    margin-top:  +30px;
    color: deepskyblue;
    font-size: 60pt;
}
h2 {
    font-family: 'Girassol', cursive;
    color: deepskyblue;
    font-size: 50pt;

}


.input-group{
    border: 2px solid black ;
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    opacity: 0.7;
}

.input-group input{
    font-size: 20pt;
}

#addBtn:hover{
    background-color: #3ac18c;
    opacity: 1;
}

#addBtn{
    background-color: gainsboro;
    opacity: 0.8;
    font-size: 20pt;
}

#left , #right{
    margin: -50px auto 40px auto;
    font-size: 30pt;
    background-color: white;
    float: left;
    width: 50%;
    min-width: 300px;
    min-height: 470px;
    text-align: center;
    border: 3px solid black ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

ul { border: 1px solid blue;

}

ul li{
    list-style-type: none;
    font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 background-color: rgba(255, 255, 255, 0.8);
  color: deepskyblue;
  text-align: center;
  font-size: 24px;
}

.del_button{
    opacity: 0.5;
}
.del_button:hover{
    opacity: 1;
}
