header{
    width: 100%;
    margin-top: -60px;

}
#go_to_home{
    margin-top: 5px;
    height: 100px;
}
.jumbotron{
    background: none;
    margin-bottom: 0;
}
#header{
 background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black ;
    border-radius: 10px;
}

#memb_in_team{
    background-color: rgba(255, 255, 255, 0);
    width: 80px;
    height: 60px;
    color: deepskyblue;
}
/*show arrows in num input fields*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

body {
    background-image: url("/static/img/background1.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #3e655a;
}

.member_name{
    width: 300px;
    margin: 0 auto;
    text-align: right;
}

h1 {
    font-family: 'Bitter', serif;
    margin-top:  +30px;
    color: deepskyblue;
    font-size: 50pt;
}
h2 {
    font-family: 'Bitter', serif;
    color: deepskyblue;
    font-size: 30pt;
    padding-top: 5px;
}

p{
    margin: -3px 5px;
}

.input-group{
    border: 2px solid black ;
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    opacity: 0.7;
}

.input-group input{
    font-size: 20pt;
}

#addBtn:hover{
    background-color: #3ac18c;
    opacity: 1;
}

#addBtn{
    background-color: gainsboro;
    opacity: 0.8;
    font-size: 20pt;
}

#add_member_input {
    text-transform: capitalize;
}

#describing{
    margin: -50px auto 60px auto;
    font-size: 18pt;
    background-color: white;
    width: 100%;
    border: 3px solid black ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);

}

#left , #right{
    margin: -50px auto 40px auto;
    font-size: 30pt;
    background-color: white;
    float: left;
    width: 50%;
    min-width: 300px;
    min-height: 470px;
    text-align: center;
    border: 3px solid black ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

ul{
    margin: 5px auto;
    border: 3px solid black ;
    border-radius: 10px;
    width: 60%;
}

ul li{
    list-style-type: none;
    font-weight: bold;
}

footer {
  font-family: 'Bitter', serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 background-color: rgba(255, 255, 255, 0.8);
  color: deepskyblue;
  text-align: center;
  font-size: 24px;
}

.del_button{
    opacity: 0.5;
}
.del_button:hover{
    opacity: 1;
}
