{% extends "layout.html" %}
{% block title %}Teams generator{% endblock %}
{% block h1 %}Teams generator{% endblock %}

{% block content %}
    <div id="left">
        <h2>Members</h2>
        <ul>
            <li>John</li>
            <li>Mike</li>
            <li>Sandra</li>
            <li>Cate</li>
            <li>George</li>
            <li>Math</li>
        </ul>
    </div>
    <div id="right">
        <h2>Teams</h2>
    <input type="image" src="/static/img/generate_button5.png" />
    </div>
    <script>
    window.onload = function() {
    dragula([document.getElementById('left'), document.getElementById('right')]);
};
    </script>
{% endblock %}