<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
        <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
        <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body>
        <header>
            <div style="width: 100%" class="jumbotron text-center">
                    <div class="row" id="header">
                        <div class="col-sm-2">
                            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"  id="go_to_home" alt="Return to main page"></a>
                        </div>
                        <div class="col">
                            <h1 style="margin-top: 5px">{% block h1 %}{% endblock %}</h1>
                        </div>
                    </div>
            </div>
        </header>
            <div class="container-fluid">
                {% block content %} {% endblock %}
            </div>
        <footer><i>2019 Created by Harnet69&Alexandra©</i></footer>
    </body>
</html>